<mat-toolbar color="primary">
   <span></span> 
   <a mat-button class="link-color" routerLink = "/home">Home</a> 
   <a  mat-button class="link-color" routerLink = "/students">Students</a> 
   <a  mat-button class="link-color" routerLink = "/subjects">Subjects</a>
   <a  mat-button class="link-color" routerLink = "/hostels">Hostels</a>
   <a  mat-button  class="link-color" routerLink = "/login">Login</a>
   <a  mat-button  class="link-color"routerLink = "/login">Go back</a>
   <a  mat-button class="link-color" routerLink = "/reset-password">Forgot Password</a>
   <a  mat-raised-button color="accent" class="link-color" routerLink = "/register">Registration</a>
</mat-toolbar>