<html>
  <head>
    <title></title>
  </head>
  <body>
      <!-- This is student data fetched from REST API of Java-->
      <h1>Students Fetched from Java API</h1>
      <div id="customers" style="display:inline-grid;">
       <table>
         <tr>
           <td>SubjectId</td>
           <td>SubjectName</td>
           <td>SubjectCode</td>
           <td>BranchCode</td>
           <td>BranchName</td>
           <td>Semester</td>
           <td>course</td>
         </tr>
         <tr *ngFor="let subject of subjects">
           <td >
             <h5>{{subject.subId}}</h5>
           </td>
           <td >
             <h5>{{subject.subName}}</h5>
           </td>
           <td >
             <h5>{{subject.subCode}}</h5>
           </td>
           <td >
             <h5>{{subject.branchCode}}</h5>
           </td>
           <td >
             <h5>{{subject.branchName}}</h5>
           </td>
           <td >
             <h5>{{subject.semester}}</h5>
           </td>
           <td >
             <h5>{{subject.course}}</h5>
           </td>
         </tr>
       </table>
     </div>
    <div class="container">
        <div class="row">
           <div class="col-md-3"></div>
           <div class="col-md-6">
                <h1 class="text-center">Subject Information</h1>
                 <label class="label col-md-3 control-label">Subject Id</label>
                 <div class="col-md-9">
                   <input type="number" class="form-control" name="Subject Id" placeholder="Subject Id" required>
                 </div>
                 <label class="label col-md-3 control-label">Subject Name</label>
                 <div class="col-md-9">
                    <input type="text" class="form-control" name="Subject Name" placeholder="Subject Name" required>
                 </div>
                 <label class="label col-md-3 control-label">Subject code</label>
                 <div class="col-md-9">
                      <input type="text" class="form-control" name="Subject Code" placeholder="Subject Code" required>
                 </div>
                 <label class="label col-md-3 control-label">Branch Name</label>
                 <div class="col-md-9">
                    <input type="text" class="form-control" name="Branch Name" placeholder="Branch Name" required>
                 </div>
                 <label class="label col-md-3 control-label">Branch Code</label>
                 <div class="col-md-9">
                    <input type="number" class="form-control" name="Branch Code"   placeholder="Branch Code" required>
                 </div>
                 <label class="label col-md-3 control-label">Semester</label>
                 <div class="col-md-9">
                    <input type="number" class="form-control" name="Semester" placeholder="Semester" required>
                 </div>
                 <label class="label col-md-3 control-label">Course</label>
                 <div class="col-md-9">
                    <input type="text" class="form-control" name="Course" placeholder="Course" required>
                 </div>
                 <a href="#"><div class="btn btn-secondary btn-outline-info">Submit</div></a>
            
           </div>
           <div class="col-md-3"></div>
        </div>
    </div>
  </body>
</html>

