<html>
  <head>
    <title></title>
  </head>
  <body>
      <!-- This is student data fetched from REST API of Java-->
     
      <div id="customers" style="display:inline-grid;margin-left: 95px;">
        <h1 class="header">Subjects Fetched from Java API</h1>
       <table>
         <tr>
           <td>SubjectId</td>
           <td>SubjectName</td>
           <td>SubjectCode</td>
           <td>BranchCode</td>
           <td>BranchName</td>
           <td>Semester</td>
           <td>course</td>
         </tr>
         <tr *ngFor="let subject of subjects">
          <td >
            <input type="text" [(ngModel)]="subject.subId" disabled>
          </td>
          <td >
            <input type="text" [(ngModel)]="subject.subName" [disabled]="edit">
          </td>
          <td >
            <input type="text" [(ngModel)]="subject.subCode" [disabled]="edit">
          </td>
          <td >
            <input type="text" [(ngModel)]="subject.branchName" [disabled]="edit">
          </td>
          <td >
            <input type="text" [(ngModel)]="subject.branchCode" [disabled]="edit">
          </td>
          <td >
            <input type="text" [(ngModel)]="subject.Semester" [disabled]="edit">
          </td>
          <td >
            <input type="text" [(ngModel)]="subject.course" [disabled]="edit">
          </td>
          <td >
            <button class="btn btn-danger" (click)="deleteSubject(subject)" > Delete</button> &nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger" (click)="modifySubject()" [style.display]="displayModify"> Modify</button>
            <button class="btn btn-danger" (click)="submitSubject(subject)" [style.display]="displaySubmit"> Submit</button>
          </td>
         </tr>
       </table>
     </div>
     <br><br>
     <div class="container">
      <div class="row">
         <div class="col-md-10 mx-auto">
              <h1 class="text-center">Subject Information</h1>
              <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
       <div class="form-group row">
                   <!--  <div class="col-md-6">
                        <label class="label col-md-3 control-label">Subject Id</label>
                        <input type="number" class="form-control"  formControlName="subId" name="subId" placeholder="Subject Id" required>
                    </div> -->
          <div class="col-md-6">
                         <label class="label col-md-3 control-label">Subject Name</label>
                         <input type="text" class="form-control"  formControlName="subjectName" name="subjectName" placeholder="Subject Name" required>
                    </div>
          <div class="col-md-6">
                       <label class="label col-md-3 control-label">Subject code</label>
                       <input type="text" class="form-control"  formControlName="subjectCode" name="subjectCode" placeholder="Subject Code" required>
                   </div>
         <div class="col-md-6">
                      <label class="label col-md-3 control-label">Branch Name</label>
                      <input type="text" class="form-control"  formControlName="branchName" name="branchName" placeholder="Branch Name" required>
                   </div>
         <div class="col-md-6">
                      <label class="label col-md-3 control-label">Branch Code</label>
                      <input type="number" class="form-control"  formControlName="branchCode" name="branchCode"   placeholder="Branch Code" required>
                   </div>
         <div class="col-md-6">
                    <label class="label col-md-3 control-label">Semester</label>
                    <input type="number" class="form-control"  formControlName="semester" name="semester" placeholder="semester" required>
                   </div>
         <div class="col-md-6">
                    <label class="label col-md-3 control-label">Course</label>
                    <input type="text" class="form-control"  formControlName="course" name="Course" placeholder="Course" required>
                  </div>
        <div class="col-md-6">
                      <a href="#">
                        <button class="btn btn-secondary btn-outline-info" [disabled]="!formdata.valid" value="Submit">Submit</button>
                     </a>   
         </div>  
       </div>
               </form>        
      </div>
  </div>
</div>
  </body>
</html>

