<html>
  <head>
    <title></title>
  </head>
  <body>


<div class="container">
<div class="row">
  <div class="col-md-6 offset-md-3 mt-4">
      <h1>Login Portal</h1>
      <form #f="ngForm"
      (ngSubmit)="loginUser(f)">
          <div class="form-group">
              <label  for="loginUsername" class= "user-label">Username</label>
              <input type="text"
                     name="user"
                     ngModel
                     required
                     [(ngModel)]="user"
                     class="form-control"
                     id="loginUsername"
                     placeholder="Enter username">
          </div>
          <div class="form-group">
              <label for="loginPassword" class= "password-label">Password</label>
              <input type="password"
                     name="password"
                     ngModel
                     required 
                     [(ngModel)]="password"
                     class="form-control"
                     id="loginPassword"
                     placeholder="Password">
          </div>
          <div class="form-group form-check">
              <a [routerLink]="['/reset-password']">Forgot Password</a>
          </div>
          <input type="submit"
                 [disabled]="f.invalid"
                  class="button-login btn-primary "
                  value="Login" (click)="loginUser(f)">
      </form>
  </div>
</div>
</div>
</body>
</html>