<html>
  <head>
    <title></title>
  </head>
  <body>
     <!-- This is student data fetched from REST API of Java-->
     
     <div id="customers" style="display:inline-grid;margin-left: 95px;">
     <h1 class="header">Students Fetched from Java API</h1>
      <table>
        <tr>
          <td>Student Id</td>
          <td>FistName</td>
          <td>LastName</td>
          <td>RollNumber</td>
          <td>DateOfBirth</td>
          <td>Address</td>
          <td>ContactNumber</td>
          <td>Action</td>
        </tr>
        <tr *ngFor="let student of students">
          <td >
            <input type="text" [(ngModel)]="student.studId" disabled>
          </td>
          <td >
            <input type="text" [(ngModel)]="student.firstName" [disabled]="edit">
          </td>
          <td >
            <input type="text" [(ngModel)]="student.lastName" [disabled]="edit">
          </td>
          <td >
            <input type="text" [(ngModel)]="student.rollNumber" [disabled]="edit">
          </td>
          <td >
            <input type="text" [(ngModel)]="student.dateOfBirth" [disabled]="edit">
          </td>
          <td >
            <input type="text" [(ngModel)]="student.address" [disabled]="edit">
          </td>
          <td >
            <input type="text" [(ngModel)]="student.contactNumber" [disabled]="edit">
          </td>
          <td >
            <button class="btn btn-danger" (click)="deleteStudent(student)" > Delete</button> &nbsp;&nbsp;&nbsp;
            <button class="btn btn-danger" (click)="modifyStudent()" [style.display]="displayModify"> Modify</button>
            <button class="btn btn-danger" (click)="submitStudent(student)" [style.display]="displaySubmit"> Submit</button>
          </td>
        </tr>
      </table>
    </div>
    <br><br>
    <div class="container">
        <div class="row">
           <div class="col-md-3"></div>
           <div class="col-md-6">
                <h1 class="text-center">Student Registration Form</h1>
            <form [formGroup]="formdata" (ngSubmit) = "onClickSubmit(formdata.value)" >
             <label class="label col-md-3 control-label">First Name</label>
             <div class="col-md-9">
                <input type="text" class="form-control" formControlName="firstName" name="First Name" placeholder="First Name" required>
             </div>
             <label class="label col-md-3 control-label">Last Name</label>
             <div class="col-md-9">
                <input type="text" class="form-control" formControlName="lastName" name="Last Name" placeholder="Last Name" required>
             </div>
             <label class="label col-md-3 control-label">Roll No</label>
             <div class="col-md-9">
                <input type="number" class="form-control" formControlName="rollNumber" name="Roll Number" placeholder="Roll Number" required>
             </div>
             <label class="label col-md-3 control-label">DOB</label>
             <div class="col-md-9">
              <input type="date" class="form-control" formControlName="dateOfBirth" name="Date Of Birth"  id="picker" placeholder="yyyy-mm-dd" required>
             </div>
             <label class="label col-md-3 control-label">E-mail</label>
             <div class="col-md-9">
              <input type="E-mail" class="form-control" formControlName="email" name="E-mail" placeholder="E-mail" required>
             </div>
             <label class="label col-md-3 control-label">Address</label>
             <div class="col-md-9">
              <input type="text" class="form-control" formControlName="address" name="Address" placeholder="Address" required>
             </div>
             <label class="label col-md-3 control-label">Contact No</label>
             <div class="col-md-9">
              <input type="number" class="form-control" formControlName="contactNumber" name="Contact Number" placeholder="Contact Number" required>
             </div>
             <button [disabled]="!formdata.valid" value="Submit">Submit</button>
            </form>
           </div>
           <div class="col-md-3"></div>
        </div>
    </div>
  </body>
</html>